{% extends 'mypf/base.html' %}
<!--Extended base html file-->

{% block content %}
<main class="site-main">
    <!--  ======================== About Me Area ==============================  -->

    <section class="about-area">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="about-title">
                        <h1 class="text-uppercase title-h1">about me</h1>
                        <p class="para"style="color:black">
                           To be nobody but yourself in a world which is doing its best,
                           night and day, to make you everybody else means to fight the hardest 
                           battle which any human being can fight; and never stop fighting
                        </p>
                    </div>
                </div>
            </div>
        </div>
	<!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/profile.png" alt="">
		<h1 class="title-text text" style="color:blue">Shahanur Islam Shagor</br></br> +8801885738929 </h1></br>
		<hr class="star-light" style="color:#000;">
		<h1 class="title-text text" style="color:blue"><b>Web Developer - Python - Django </br>Php - Laravel </b></h1>
	  </div>
	</header>
	<div class="container carousel py-lg-5">
		<div class="owl-carousel owl-theme">
			<div class="client row">
				<div class="col-lg-4 col-md-12 client-img">
					<img src="static/img/testimonials/t1.jpeg" alt="img1" class="img-fluid">
				</div>
				<div class="col-lg-8 col-md-12 about-client">
					<h4 class="text-uppercase" style="color:black">Md.Shahanur Islam Shagor</h4>
					<p class="para" style="color:black">Be who you are and say what you feel, because 
                            those who mind don't matter, and those who matter don't mind.</p>
				</div>
			</div>
			<div class="client row">
				<div class="col-lg-4 col-md-12 client-img">
					<img src="static/img/testimonials/t4.jpg" alt="img2" class="img-fluid">
				</div>
				<div class="col-lg-8 col-md-12 about-client">
					<h4 class="text-uppercase" style="color:black">Md.Shahanur Islam Shagor</h4>
					<p class="para" style="color:black">I find the best way to love someone is not to change them, 
					but instead, help them reveal the greatest version of themselves.</p>
				</div>
			</div>
			<div class="client row">
				<div class="col-lg-4 col-md-12 client-img">
					<img src="static/img/testimonials/t6.jpg" alt="img1" class="img-fluid">
				</div>
				<div class="col-lg-8 col-md-12 about-client">
					<h4 class="text-uppercase" style="color:black">Md.Shahanur Islam Shagor</h4>
					<p class="para" style="color:black">Be who you are and say what you feel, because 
                            those who mind don't matter, and those who matter don't mind.</p>
				</div>
			</div>
			<div class="client row">
				<div class="col-lg-4 col-md-12 client-img">
					<img src="static/img/testimonials/t2.jpeg" alt="img2" class="img-fluid">
				</div>
				<div class="col-lg-8 col-md-12 about-client">
					<h4 class="text-uppercase" style="color:black">Md.Shahanur Islam Shagor</h4>
					<p class="para" style="color:black">I find the best way to love someone is not to change them, 
					but instead, help them reveal the greatest version of themselves.</p>
				</div>
			</div>
			<div class="client row">
				<div class="col-lg-4 col-md-12 client-img">
					<img src="static/img/testimonials/t5.jpg" alt="img1" class="img-fluid">
				</div>
				<div class="col-lg-8 col-md-12 about-client">
					<h4 class="text-uppercase" style="color:black">Md.Shahanur Islam Shagor</h4>
					<p class="para" style="color:black">Don’t be into trends. Don’t make fashion own you, but you decide what you are, 
					what you want to express by the way you dress and the way to live.</p>
				</div>
			</div>
			<div class="client row">
				<div class="col-lg-4 col-md-12 client-img">
					<img src="static/img/testimonials/t5.jpg" alt="img2" class="img-fluid">
				</div>
				<div class="col-lg-8 col-md-12 about-client">
					<h4 class="text-uppercase" style="color:black">Md.Shahanur Islam Shagor</h4>
					<p class="para" style="color:black">I find the best way to love someone is not to change them, 
					but instead, help them reveal the greatest version of themselves.</p>
				</div>
			</div>
		</div>
	</div>

</section>

<!--  ======================== End About Me Area ==============================  -->

	<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-black mb-0"><b>Portfolio</b></h2>
            <hr class="star-light mb-5 text-black" style="color:#000;"></br>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">View All Project</h5>
					<p class="card-text">Hear You see all python Desktop Application and django web Application</p>
					<a href="https://github.com/shahanur1" class="btn btn-primary"> Click Hear </a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 1</h5>
					<p class="card-text">It's a Weather Report Application.You can cheek any Weather Report Hear </p>
					<a href="http://weather.mohazon2020.com/" class="btn btn-primary"> Click Hear </a>
				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 2</h5>
					<p class="card-text">It's online Football betting Web Application</p>
					<a href="https://onlinebet.mohazon2020.com/" class="btn btn-primary"> Click Hear </a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 3</h5>
					<p class="card-text">Its a Ecommers project.</p>
					<a href="https://shop.mohazon2020.com/" class="btn btn-primary"> Click Hear </a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>

	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<hr class="star-light mb-5" style="color:#000;">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1">
			<h1 class="text-uppercase title-h1" class="para" style="color:skyblue" ><u>My Self</u></h1>
			<p class="font-roboto py-2" style="color:whitesmoke"><b></br>I am a Professional Python & php Programmer and Also Skilled in Full Stack Development 
				In Django web Framework and Laravel web Framework with a wealth of knowledge that I bring to every project. 
					Trustworthy and dependable with excellent communication skills. Creative and innovative 
						and someone who enjoys contributing to new projects.</br></br>To build up dynamic and versatile career in an organization where there 
							would be scope to merge innovation ideas and honestly, creativity, punctuality and 
					diligence would be corner of success</br></br>I do hereby declare that the particulars provided 
						in the region are true the best of knowledge and belief.</br></br>Self-taught Web Designer/Graphic
							 Artist that evolved onto a Full Stack Web Developer. Web Development has been his passion 
								since the manual/static html page days.</b>
			</p>
		  </div>
		  <div class="col-lg-3 mr-auto about-2">
			<h1 class="text-uppercase title-h1" class="para" style="color:skyblue"><u>Exprience</u></h1>
				<p class="text-center" style="color:whitesmoke" ><h3><b><u> Competences:</u></h3></p></b>
				<p class="font-roboto py-2" style="color:whitesmoke">01. Python </br>02. Django Web Farmework </br> 03. Django-Rest-Framework </br>
				    04. Php-Laravel Web Farmework </br>05. Html5 , CSS3 </br>06. JavaScript , jQuery</br> 07. AJAX , 
				    Bootstrap </br>08. pipenv </br>09.Git,BitBucket, etc.
				<p class="text-center" style="color:whitesmoke"><h3><b><u> Tools & Expertise:</u></h3></p></b>
				<p class="font-roboto py-2" style="color:whitesmoke">01. git bash </br>02. sublime text </br>03. visual studio code 
					</br>04. linux & Windows </br>05. virtualbox </br> 06. responsive web design</br>
				<p class="text-center" style="color:whitesmoke"><h3><b><u> Database:</u></b></h3></p>
				<p class="font-roboto py-2" style="color:whitesmoke">1.PostgreSql, </br>2.MySql, </br>3.Sqlite.
			</p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" href="/static/mypf/files/CV.pdf" download>
			<i class="fas fa-download mr-2"></i>
			Download CV
		  </a>
		  <a href="{% url 'contact' %}"><button class="btn btn-success text-center">Contact With Me </button></a>
		</div>
	  </div>
	</section>

</main>

{% endblock %}