{% extends 'mypf/base.html' %}
<!--Extended base html file-->

{% block content %}
<main class="site-main">
    <!--  ====================== Start Services Area =============================  -->

    <section class="services-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center services-title">
                    <h1 class="text-uppercase title-text">Services Offers</h1>
                    <p class="para" style="color:#000;">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour
                    </p>
                </div>
            </div>
            <div class="container services-list">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="static/img/services/s1.png" alt="Services-1">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">Django developer</h5>
                                <p class="card-text text-secondary">
                                    Some quick example text to build on the card
                                    title and make up
                                    the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="static/img/services/s2.png" alt="Services-2">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">ux/ui desing</h5>
                                <p class="card-text text-secondary">
                                    Some quick example text to build on the card
                                    title and make up
                                    the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="static/img/services/s3.png" alt="Services-3">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">web design</h5>
                                <p class="card-text text-secondary">
                                    Some quick example text to build on the card
                                    title and make up
                                    the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="static/img/services/s4.png" alt="Services-4">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">seo optimize</h5>
                                <p class="card-text text-secondary">
                                    Some quick example text to build on the card
                                    title and make up
                                    the bulk of the card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  ====================== End Services Area =============================  -->


    <!--  ======================== Start Brand Area ==============================  -->
    <section class="brand-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="first-row row">
                        <div class="col-lg-4 col-md-6 col-sm-6" >
                            <div class="single-brand" style="color:black">
                                <img src="static/img/brands/logo1.png" alt="Brand-1 ">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <img src="static/img/brands/logo2.png" alt="Brand-2 ">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <img src="static/img/brands/logo3.png" alt="Brand-3 ">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <img src="static/img/brands/logo4.png" alt="Brand-4">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <img src="static/img/brands/logo5.png" alt="Brand-5 ">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <img src="static/img/brands/logo6.png" alt="Brand-6">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <img src="static/img/brands/logo7.png" alt="Brand-7 ">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <img src="static/img/brands/logo8.png" alt="Brand-8 ">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <img src="static/img/brands/logo9.png" alt="Brand-9">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="experience-area">
                        <div class="d-flex flex-row years-area">
                            <h2 class="p-3 years">06</h2>
                            <h2>
                                <span>Month</span>
                                <span>Working</span>
                                <span>Experience</span>
                            </h2>
                        </div>
                        <div class="d-flex flex-row flex-wrap call-area">
                            <div class="call-now">
                                <span class="font-roboto py-2">If You Want to Contact Me
                                <a href="{% url 'contact' %}" class="text-uppercase h4 font-roboto"><button class="btn btn-success text-center">Click Here</button></a></span>
                                <span class="font-roboto py-2">Or Call Me  (+88)01885737929</span>
                            </div>
                        </div>
                        <div class="bg-panel"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  ======================== End Brand Area ==============================  -->
</main>


{% endblock %}